.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* border: 1px solid; */
    flex-wrap: wrap;
    margin: 0 auto;
    grid-gap:1em
}

.memmory-div{
  max-width: 20%;
  max-height: 20%;
  margin: 0;
  padding: 0;
  margin: 0;
}
figure{
  max-height: 100%;
  max-width: 100%;
  margin: 0;
}

.img-block {
 width: 25vh;
 height: 25vh;
 object-fit: cover;
 object-position: center;
 margin: 0;
 /* border-radius: 15px; */
}

.button-class{
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  width: 100px !important;
  height: 50px !important;
  font-family: Sans-Serif;
  text-transform: uppercase;
  height: auto;
  width: inherit;
  /* text-shadow: 4px 4px 3px rgba(77, 77, 77, 0.5);
  box-shadow: 14px 14px rgba(77, 77, 77, 0.1); */
  cursor: pointer;
  transition: transform 0.4s, box-shadow 0.4s;
}

.button-class:hover {
  box-shadow: 14px 14px rgba(77, 77, 77, 0.5);
}

.button-class:active {
  transform: translate3d(7px, 7px, 0px);
  box-shadow: 7px 7px rgba(77, 77, 77, 0.5);
}
