.div {
  display: flex;
  margin-top: 1.5em;
  // flex-direction: row-reverse;

  .leftDiv {
    display: flex;
    flex-direction: column;

    justify-content: center;
    max-width: 60%;

    p {
      margin: 0 auto;
      color: white;
      background-color: var(--color1);
      line-height: 1.3em;
      border-radius: 2em;
      padding: 1.3em;
      width: 80%;
      font-size: 16px;
    }
    img {
      transform: scaleX(1);
      position: relative;
      bottom: 0;
      left: 2em;
      width: 10em;
      height: 10em;
    }
  }
  .rightDiv{
    display: grid;
    grid-template-rows: 3em 3em 8em;
    p{
      margin: .5em;
    }
    p, span{
      font-size: 1.5em;
      font-family: Calc !important;
      color: black;
    }
    span{
      font-size: 1em;
      width: auto;
      color: var(--color1);
    }
    .spanHidden{
      border: 3px solid var(--color1);
    }
  }
}
.buttonList {
//   position: static;
  bottom: 0;
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: right;
  flex-wrap: wrap;
  // position: relative;
  // bottom: 2em;
  // margin: 0.5em auto;
  .buttonHand {
    background-image: url("../../../../assets/right_hand.png");
    height: 2em;
    border: none;
    width: 4em;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
  }
}
