@import-normalize;

:root {
    --color1: #da783c;
    --color2: #dfd7cd;
    --color3: #666699;
    --color4: #84CE55;
    --color5: #434357;
}
@font-face {

    font-family: 'Bristol';
    src: url('Bristol.otf');
    src:
      local('Bristol'),
      url('Bristol.otf')
      format('opentype');
    }
@font-face {

    font-family: 'Gothic';
    src: url('DidactGothic-Regular.otf');
    src:
      local('Gothic'),
      url('DidactGothic-Regular.otf')
      format('opentype');
    }    
html, body, div, h1 {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16pt;
    font-family: DidactGothic-Regular;
    color: var(--color3);
    line-height: 1.5em;
}

body {
    background: var(--color3);
    
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: auto;
    width: 90%;
    margin: 0 auto;
    background: var(--color2);
    & > main {
        flex: 1 1 auto;
    }
    @media (max-width: 1560px){
        width: 100%;
    }
}

h1 {

}

h2 {
    font-family: Roboto Slab;
    color: var(--color1);
    font-size: 20pt;
    font-weight: normal;
    text-align: center;
}

p {

}

.button-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .button {
        width: 100%;
        max-width: 80%;
        margin: .5em 0;
    }

    @media (min-width: 900px) {
        .button {
            max-width: 50%;
        }
    }
}

.button {
    display: inline-block;
    background: var(--color3);
    color: white;
    padding: .3em 1em;
    border-radius: 10em;

    text-decoration: none;

    font-size: 16pt;
    font-family: DidactGothic-Regular;

    text-align: center;
    box-sizing: border-box;

    border: none;
    cursor: pointer;

    &:hover {
        background: var(--color5);
    }

    &:focus {
        outline: 3px black solid;
    }

    @media (max-width: 1200px) {
        font-size: 16pt;
        width: 60%;
    }
    

}
